aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor==3.0.0
pillow
psutil
git+https://github.com/Jerryrobot/pytgcalls
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml
requests
Git+https://github.com/Jerryrobot/okspeed
spotipy
tgcrypto
numpy
git+https://github.com/Jerryrobot/zdlp
youtube-search
youtube-search-python
